{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} {{ title }} {% endblock %}</h1>
        {% if arbs is not none %}
        <table>
            <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Home</th>
                <th>Home Odds</th>
                <th>Bookie 1</th>
                <th>Away</th>
                <th>Away Odds</th>
                <th>Bookie 2</th>
                <th>Arb %</th>
            </tr>
            </thead>

            <tbody>
                {% for arb in arbs %}
                <tr>
                    <td>{{ arb['date'] }}</td>
                    <td>{{ arb['time'] }}</td>
                    <td>{{ arb['team_1'] }}</td>
                    <td>{{ arb['odds_team_1'] }}</td>
                    <td><a href="{{ arb['book_1_url'] }}">{{ arb['book_1'] }}</a></td>
                    <td>{{ arb['team_2'] }}</td>
                    <td>{{ arb['odds_team_2'] }}</td>
                    <td><a href="{{ arb['book_2_url'] }}">{{ arb['book_2'] }}</a></td>
                     <td style="background-color: {{ 'lightgreen' if arb['profitable'] else 'lightcoral' }};">
                        {{ arb['arbitrage_sum'] }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    <form action="{{ url_for('scrape_sport_markets', sport=title) }}" method="post">
        <button type="submit">Get {{ title }} Arbs</button>
    </form>
{% endblock %}