{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Upcoming Sport {% endblock %}</h1>
        <table>
            <thead>
            <tr>
                <th>Sport</th>
                <th>Game Date</th>
                <th>Game Time</th>
                <th>Home</th>
                <th>Away</th>
            </tr>
            </thead>

            <tbody>
                {% for game in games %}
                <tr>
                    <td>{{ game['sport'] }}</td>
                    <td>{{ game['game_date'] }}</td>
                    <td>{{ game['game_time'] }}</td>
                    <td>{{ game['home_team'] }}</td>
                    <td>{{ game['away_team'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}