{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Games {% endblock %}</h1>
    <form action="{{ url_for('scrape_upcoming_games') }}" method="post">
        <button type="submit">Run Scraper</button>
    </form>
        <table>
            <thead>
            <tr>
                <th>Sport</th>
                <th>Game Date</th>
                <th>Game Time</th>
                <th>Home</th>
                <th>Away</th>
            </tr>
            </thead>

            <tbody>
                {% for game in games %}
                <tr>
                    <td>{{ game['sport'] }}</td>
                    <td>{{ game['game_date'] }}</td>
                    <td>{{ game['game_time'] }}</td>
                    <td>{{ game['home_team'] }}</td>
                    <td>{{ game['away_team'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
<!--    <form action="{{ url_for('scrape_upcoming_games') }}" method="post">-->
<!--        <button type="submit">Run Scraper</button>-->
        {% if markets is not none %}
        <table>
            <thead>
            <tr>
                <th>Sport</th>
                <th>Market</th>
                <th>Game Date</th>
                <th>Game Time</th>
                <th>Outcome 1</th>
                <th>Outcome 1 Odds</th>
                <th>Outcome 2</th>
                <th>Outcome 2 Odds</th>
            </tr>
            </thead>

            <tbody>
                {% for market in markets %}
                <tr>
                    <td>{{ market['sport'] }}</td>
                    <td>{{ market['market'] }}</td>
                    <td>{{ market['game_date'] }}</td>
                    <td>{{ market['game_time'] }}</td>
                    <td>{{ market['option_1'] }}</td>
                    <td>{{ market['option_1_odds'] }}</td>
                    <td>{{ market['option_2'] }}</td>
                    <td>{{ market['option_2_odds'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
{% endblock %}