{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} {{ title }} {% endblock %}</h1>
        {% if markets is not none %}
        <table>
            <thead>
            <tr>
                <th>Bookmaker</th>
                <th>Market</th>
                <th>Game Date</th>
                <th>Game Time</th>
                <th>Home</th>
                <th>Home Odds</th>
                {% if title == "EPL" %}
                    <th>Draw Odds</th>
                {% endif %}
                <th>Away</th>
                <th>Away Odds</th>
            </tr>
            </thead>

            <tbody>
                {% for market in markets %}
                <tr>
                    <td>{{ market['bookmaker'] }}</td>
                    <td>{{ market['market'] }}</td>
                    <td>{{ market['game_date'] }}</td>
                    <td>{{ market['game_time'] }}</td>
                    <td>{{ market['option_1'] }}</td>
                    <td>{{ market['option_1_odds'] }}</td>
                    {% if title == "EPL" %}
                        <td>{{ market['option_3_odds'] }}</td>
                    {% endif %}
                    <td>{{ market['option_2'] }}</td>
                    <td>{{ market['option_2_odds'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    <form action="{{ url_for('scrape_sport_markets', sport=title) }}" method="post">
        <button type="submit">Get {{ title }} Markets</button>
    </form>
{% endblock %}